{%- comment -%} START EASYPOINTS - DO NOT MODIFY! 変更しないでください! INFO @ https://bit.ly/2Dn7ESM {%- endcomment -%}
  {%- if shop.metafields.loyalty['stealth_mode'] == "false" -%}
    <h2>{{ 'easypoints.points_balance' | t }}</h2>

    <div class="easy-points__account">
      <p class="easy-points-balance__container">
        <span class="easy-points">
          <span data-loyal-target="balance">-</span> <span class="easy-points__text">{{ 'easypoints.points' | t }}</span>
        </span>
        <span data-loyal-target="balance-expiration" class="easy-points-text__muted easy-points-hide">
          <span>{{ 'easypoints.expiration_date' | t }}</span>
          <span data-loyal-target="balance-expiration__yy">-</span>{{ 'easypoints.date_year' | t }}
          <span data-loyal-target="balance-expiration__mm">-</span>{{ 'easypoints.date_month' | t }}
          <span data-loyal-target="balance-expiration__dd">-</span>{{ 'easypoints.date_day' | t }}
        </span>
      </p>

      <p class="easy-points-tiers__container">
        <span>
          {{ 'easypoints.tiers.rank' | t }}
          <strong data-loyal-target="tier-name">-</strong>
        </span>
        <span data-loyal-target="rank-advancement-data" class="easy-points-text__muted">
          <span style="display: none;" data-loyal-target="max-rank">
            {{ 'easypoints.tiers.achieve_highest_rank' | t }}
            <strong data-loyal-target="rank-advancement-tier-name">-</strong>
          </span>

          <span data-loyal-target="not-max-rank">
            {{ 'easypoints.tiers.spend_additional' | t }}
            <strong data-loyal-target="rank-advancement-amount">-</strong>
            {{ 'easypoints.tiers.to_rank_up' | t }}
            <strong data-loyal-target="rank-advancement-tier-name">-</strong>
          </span>
        </span>
      </p>
    </div>
  {%- endif -%}
{%- comment -%} END EASYPOINTS {%- endcomment -%}
