{%- comment -%} START EASYPOINTS - DO NOT MODIFY! 変更しないでください! INFO @ https://bit.ly/2Dn7ESM {%- endcomment -%}
  {%- assign shop_ep_metafield = shop.metafields.loyalty.easy_points_attributes.value -%}
  {%- unless shop_ep_metafield.stealth_mode -%}
    {%- liquid
      assign birthday_points = false
      for key_value in shop.metafields.loyalty['rewards']
        if key_value[0] == "birthday" and key_value[1] == true
          assign birthday_points = true
        endif
      endfor
    -%}

    {%- if birthday_points -%}
      {%- liquid
        assign class_container = class_container | default: 'ep-birthday_container'
        assign class_input = class_input | default: ''
        assign class_button = class_button | default: 'button'
      -%}
      <h2>{{ 'easypoints.note_form.birthday' | t }}</h2>
      <div class="{{ class_container }}">
        <div id="easypoints-note-update" class="easy-points__note-form">
          <input class="{{ class_input }}" type="date" value="{{ customer.metafields.loyalty['birthday'] }}" name="customer[easypoints_birthday]" aria-label="Birthday">
          <input type="hidden" name="customer[id]" value="{{ customer.id }}">
          <input type="hidden" name="redirect_route" data-loyal-target="redirect_url">
          <button
            id="easypoints-note-update-submit"
            class="{{ class_button }}"
            name="commit"
            type="button"
          >
            {{ 'easypoints.note_form.update' | t }}
          </button>
        </div>
      </div>
    {%- endif -%}
  {%- endunless -%}
{%- comment -%} END EASYPOINTS {%- endcomment -%}
