{%- comment -%} START EASYPOINTS - DO NOT MODIFY! 変更しないでください! INFO @ https://bit.ly/2Dn7ESM {%- endcomment -%}
{%- unless shop.metafields.loyalty.easy_points_attributes.value.stealth_mode -%}
  {%- if customer -%}
    {%- liquid
      assign customer_ep_metafield = customer.metafields.loyalty.easy_points_attributes.value
      assign gift_balance_metafield = customer.metafields.loyalty.gift_balance.value

      assign has_feature_tiers = false
      for key_value in shop.metafields.loyalty['features']
        if key_value[0] == "tiers" and key_value[1] == true
          assign has_feature_tiers = true
        endif
      endfor
    -%}

    {%- if has_feature_tiers and shop.metafields.loyalty['tiers_active'] == "true" -%}
      <h2>{{ 'easypoints.tiers.current_rank_title' | t }}</h2>

      <div class="easy-points__account">
        <p class="easy-points-tiers__container">
          {{ 'easypoints.tiers.current_rank_html' | t: rank: customer_ep_metafield.tier }}

          {% render 'epi_tiers_advancement' %}
        </p>
      </div>
    {%- endif -%}

    <div class="easy-points__account">
      <h2 class="easy-points-account__header">
        {{ 'easypoints.points_balance' | t }}
      </h2>

      <div class="easy-points-account">
        {%- liquid
          assign expiration_entries = ''

          for expiry in gift_balance_metafield.expiries
            if expiry.expires_at
              assign expiry_timestamp = expiry.expires_at | date: '%s'
              assign entry = expiry_timestamp | append: '|gift|' | append: expiry.amount | append: '|' | append: expiry.expires_at

              if expiration_entries == ''
                assign expiration_entries = entry
              else
                assign expiration_entries = expiration_entries | append: ',' | append: entry
              endif
            endif
          endfor

          if customer_ep_metafield.expiration_date
            assign regular_balance = customer_ep_metafield.balance | minus: gift_balance_metafield.gift_balance
            assign gift_balance = gift_balance_metafield.gift_balance

            if regular_balance > 0
              assign regular_timestamp = customer_ep_metafield.expiration_date | date: '%s'
              assign regular_entry = regular_timestamp | append: '|regular|' | append: regular_balance | append: '|' | append: customer_ep_metafield.expiration_date

              if expiration_entries == ''
                assign expiration_entries = regular_entry
              else
                assign expiration_entries = expiration_entries | append: ',' | append: regular_entry
              endif
            endif
          endif

          assign entries_array = expiration_entries | split: ','
          assign sorted_entries = entries_array | sort
        -%}

        {%- capture balance -%}
          <span data-loyal-block data-loyal-target="balance">
            {% render 'epi_format_number', number: customer_ep_metafield.balance %}
          </span>
        {%- endcapture -%}

        <div style="display: flex; align-items: center; gap: 1rem; margin-bottom: 0.5rem;">
          <div>
            <strong>
              {{ 'easypoints.points_count_html' | t: count: balance }}
            </strong>
          </div>

          {%- if gift_balance_metafield.gift_balance > 0 -%}
            <div class="easy-points-account__badge">
              <span>
                {{ gift_balance_metafield.gift_balance }}
              </span>

              <span style="display: inline-block; vertical-align: top; margin-top: 1px; margin-right: -2px;">
                {% render 'epi_icons', icon: 'gift-points', size: 12 %}
              </span>
            </div>
          {%- elsif customer_ep_metafield.expiration_date %}
            {%- liquid
              assign expiration_date = customer_ep_metafield.expiration_date
              if expiration_date
                assign exp_year = expiration_date | date: "%Y"
                assign exp_month = expiration_date | date: "%m"
                assign exp_day = expiration_date | date: "%d"
              endif
            -%}

            <span
              class="easy-points__expiration-date"
              style="
                font-size: 80%;
                margin-left: 2rem;
                opacity: {{ block.settings.text_opacity }};
              "
            >
              {{ 'easypoints.expiration_date' | t }} {{ 'easypoints.date' | t: year: exp_year, month: exp_month, day: exp_day }}
            </span>
          {%- endif -%}
        </div>

        {%- if gift_balance_metafield.gift_balance > 0 -%}
          <div class="easy-points-account">
            <div class="easy-points-account__balance" style="display: grid; grid-template-columns: max-content 1fr;">
              {%- for entry in sorted_entries -%}
                {%- liquid
                  assign entry_parts = entry | split: '|'
                  assign entry_type = entry_parts[1]
                  assign entry_amount = entry_parts[2]
                  assign entry_date = entry_parts[3]
                -%}

                {%- liquid
                  if entry_date
                    assign exp_year = entry_date | date: "%Y"
                    assign exp_month = entry_date | date: "%m"
                    assign exp_day = entry_date | date: "%d"
                  endif
                -%}

                <div style="display: grid; grid-column: 1 / -1; grid-template-columns: subgrid; align-items: baseline;">
                  <span style="font-size: 1.3rem;">
                    +{% render 'epi_format_number', number: entry_amount %}
                  </span>

                  <span
                    class="easy-points__expiration-date"
                    style="
                      font-size: 80%;
                      margin-left: 2rem;
                      opacity: {{ block.settings.text_opacity }};
                    "
                  >
                    {{ 'easypoints.expiration_date' | t }} {{ 'easypoints.date' | t: year: exp_year, month: exp_month, day: exp_day }}
                  </span>
                </div>
              {%- endfor -%}
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}
{%- endunless -%}
{%- comment -%} END EASYPOINTS {%- endcomment -%}
