{%- comment -%} START EASYPOINTS - DO NOT MODIFY! 変更しないでください! INFO @ https://bit.ly/2Dn7ESM {%- endcomment -%}
  {%- assign shop_ep_metafield = shop.metafields.loyalty.easy_points_attributes.value -%}
  {%- unless shop_ep_metafield.stealth_mode -%}
    {%- if customer -%}
      {%- liquid
        assign customer_ep_metafield = customer.metafields.loyalty.easy_points_attributes.value
        assign has_feature_tiers = false
        for key_value in shop.metafields.loyalty['features']
          if key_value[0] == "tiers" and key_value[1] == true
            assign has_feature_tiers = true
          endif
        endfor
      -%}

      {%- if has_feature_tiers and shop.metafields.loyalty['tiers_active'] == "true" -%}
        <h2>{{ 'easypoints.tiers.current_rank_title' | t }}</h2>
        <div class="easy-points__account">
          <p class="easy-points-tiers__container">
            {{ 'easypoints.tiers.current_rank_html' | t: rank: customer_ep_metafield.tier }}
          </p>

          {% render 'epi_tiers_advancement' %}
        </div>
      {%- endif -%}

      <h2>{{ 'easypoints.points_balance' | t }}</h2>
      <div class="easy-points__account">
        <p class="easy-points-balance__container">
          <span class="easy-points">
            <span data-loyal-target="balance">{{ customer_ep_metafield.balance }}</span> <span class="easy-points__text">{{ 'easypoints.points' | t }}</span>
          </span>

          {% if customer_ep_metafield.expiration_date %}
            {%- liquid
              assign expiration_date = customer_ep_metafield.expiration_date
              if expiration_date
                assign exp_year = expiration_date | date: "%Y"
                assign exp_month = expiration_date | date: "%m"
                assign exp_day = expiration_date | date: "%d"
              endif
            -%}
            <span data-loyal-target="balance-expiration" class="easy-points-text__muted">
              {{ 'easypoints.expiration_date' | t }} {{ 'easypoints.date' | t: year: exp_year, month: exp_month, day: exp_day }}
            </span>
          {% endif %}
        </p>
      </div>
    {%- endif -%}
  {%- endunless -%}
{%- comment -%} END EASYPOINTS {%- endcomment -%}
