{%- comment -%}
  Ability to pass the product or item object to the snippet to calculate the points for the product.

  Args:
    (optional) `product`: The product object will be used as fallback if the item object is not provided.
    (required on when using within the `cart` object) `line_item`: The line item cart object.
    (optional) `price`: Override the price that is otherwise fetched from the `product` or `line_item`.
{%- endcomment -%}
{%- unless shop.metafields.loyalty.easy_points_attributes.value.stealth_mode -%}
  {%- if product.metafields.loyalty.easy_points_attributes.value.point_exchange
    or line_item.product.metafields.loyalty.easy_points_attributes.value.point_exchange
  -%}
    <div class="easy-points easy-points__point-exchange-product">
      {%- liquid
        assign point_exchange_metafield = product.metafields.loyalty.easy_points_attributes.value.point_exchange
        if line_item.product.metafields.loyalty.easy_points_attributes.value.point_exchange
          assign point_exchange_metafield = line_item.product.metafields.loyalty.easy_points_attributes.value.point_exchange
        endif
      -%}

      {%- if point_exchange_metafield -%}
        <span
          data-loyal-target="point-exchange-product"
          data-loyal-point-cost="{{ point_exchange_metafield.point_cost }}"
        ></span>
      {%- endif -%}
    </div>
  {%- elsif product or line_item -%}
    <div class="easy-points easy-points__product-points">
      {%- liquid
        assign product = product | default: product
        assign price = price | default: product.selected_or_first_available_variant.price

        if line_item
          assign product = line_item.product
          assign price = price | default: line_item.final_price
        endif

        assign tax_rate = 1.1
        assign worth_points = true
        assign bpr_ratio = 0.0
        assign final_bpr_ratio = 0.0
        assign final_bpr_point_value = 0.0

        if product.tags contains 'no-easy-points'
          assign worth_points = false
        endif

        if worth_points
          for collection in product.collections
            if collection.handle == 'easy-points-point-exclusion'
              assign worth_points = false
              break
            endif

            assign metafield_bonus_points = collection.metafields.loyalty.bonus_points
            if metafield_bonus_points and metafield_bonus_points.active == true
              assign bpr_point_value = metafield_bonus_points.point_value | times: 1.0
              assign bpr_currency_value = metafield_bonus_points.currency_value | times: 1.0
              assign bpr_ratio = bpr_point_value | divided_by: bpr_currency_value

              if bpr_ratio >= final_bpr_ratio
                assign final_bpr_ratio = bpr_ratio
              endif

              if bpr_point_value >= final_bpr_point_value
                assign final_bpr_point_value = bpr_point_value
              endif
            endif

            if collection.metafields.loyalty.tax_override_percentage
              assign tax_override_percentage = collection.metafields.loyalty.tax_override_percentage | divided_by: 100
              assign tax_rate = 1 | plus: tax_override_percentage
            endif
          endfor
        endif

        capture currency_cost
          render 'epi_currency_cost', price: price, tax_rate: tax_rate
        endcapture

        assign currency_cost = currency_cost | strip_html
      -%}

      {%- if worth_points -%}
        {%- liquid
          assign use_js_fallback = false
          if shop.currency != cart.currency.iso_code
            assign use_js_fallback = true
          endif

          assign multiplier = 1
          assign currencies = 'JPY,KRW,BIF,CLP,DJF,GNF,ISK,KMF,PYG,RWF,UGX,VND,VUV,XAF,XOF,XPF'
          assign currencies = currencies | split: ','
          if currencies contains shop.currency
            assign multiplier = 100
          endif

          assign shop_metafield = shop.metafields.loyalty.easy_points_attributes.value
          if customer
            assign customer_metafield = customer.metafields.loyalty.easy_points_attributes.value
          endif

          assign currency_value = shop_metafield.currency_value | times: 1.0
          assign point_value = shop_metafield.point_value

          if customer_metafield
            assign currency_value = shop_metafield.point_rules[customer_metafield.tier_uid].currency_value | times: 1.0
            assign point_value = shop_metafield.point_rules[customer_metafield.tier_uid].point_value
          endif

          assign final_point_value = point_value | plus: final_bpr_point_value
        -%}

        {% capture point_value_html %}
          <span
            data-loyal-target="point-value"
            data-loyal-currency-cost="{{ currency_cost }}"
            {%- if final_bpr_ratio != 0.0 -%}
              {%- assign bonus_points = currency_cost | divided_by: multiplier | divided_by: currency_value | times: final_bpr_point_value | floor -%}
              {%- raw -%}
                data-loyal-bonus-points="{ &quot;currencyCost&quot;: {% endraw %}{{- currency_cost -}}{% raw %}, &quot;bonusPoints&quot;: {% endraw %}{%- if use_js_fallback -%}null{%- else -%}{{- bonus_points -}}{%- endif -%}{% raw %}, &quot;quantity&quot;: {% endraw %}{{- line_item.quantity | default: 1 -}}{% raw %}, &quot;percentage&quot;: {% endraw %}{{- final_bpr_ratio | times: 100 -}}{% raw %} }"
              {%- endraw -%}
            {%- endif -%}
            {%- if line_item -%}
              data-loyal-item-id="{{ line_item.id }}"
              data-loyal-quantity="{{ line_item.quantity }}"
            {%- endif -%}
          >
            <span data-loyal-target="point-value-location">
              {%- liquid
                if use_js_fallback
                  echo '-'
                else
                  assign points = currency_cost | divided_by: multiplier | divided_by: currency_value | times: final_point_value | ceil
                  render 'epi_format_number', number: points
                endif
              -%}
            </span>
          </span>
        {% endcapture %}

        <epi-point-value data-fallback="{{ use_js_fallback }}">
          {{ point_value_html }}
        </epi-point-value>

        <span class="easy-points__text easy-points__text--suffix">
          {{ 'easypoints.points' | t }}
        </span>
      {%- else -%}
        <span
          style="display:none;"
          data-loyal-target="point-exclusion"
          data-loyal-currency-cost="{{ currency_cost }}"
        ></span>
      {%- endif -%}
    </div>
  {%- endif -%}
{%- endunless -%}
