{% comment %}
==================== Imported into theme from Easypoint installation. File: theme.liquid  ====================
{% endcomment %}

{%- comment -%} START EASYPOINTS - DO NOT MODIFY! 変更しないでください! INFO @ https://bit.ly/2Dn7ESM {%- endcomment -%}
  {%- unless shop.metafields.loyalty.easy_points_attributes.value.stealth_mode -%}
    {% render 'easy_points_metafield_script' %}
    {{ 'easy_points.css' | asset_url | stylesheet_tag }}
    {{ 'easy_points.js' | asset_url | script_tag }}
    {{ 'easy_points_integration.css' | asset_url | stylesheet_tag }}
    {{ 'easy_points_integration.js' | asset_url | script_tag }}
  {%- endunless -%}
{%- comment -%} END EASYPOINTS {%- endcomment -%}

{%- comment -%} START EASYPOINTS - DO NOT MODIFY! 変更しないでください! INFO @ https://bit.ly/2Dn7ESM {%- endcomment -%}
{%- unless shop.metafields.loyalty.easy_points_attributes.value.stealth_mode -%}
  {% include 'easy_points' %}
  {% include 'easy_points_widget' %}
{%- endunless -%}
{%- comment -%} END EASYPOINTS {%- endcomment -%}



{% comment %}
================================================== Product Points ==================================================
{% endcomment %}

{%- comment -%} START EASYPOINTS - DO NOT MODIFY! 変更しないでください! INFO @ https://bit.ly/2Dn7ESM {%- endcomment -%}
  {%- unless shop.metafields.loyalty.easy_points_attributes.value.stealth_mode -%}
    {% render 'easy_points_product_points' %}
  {%- endunless -%}
{%- comment -%} END EASYPOINTS {%- endcomment -%}



{% comment %}
========================================= Account Balance & Birthday Forms ==========================================
{% endcomment %}

{%- comment -%} START EASYPOINTS - DO NOT MODIFY! 変更しないでください! INFO @ https://bit.ly/2Dn7ESM {%- endcomment -%}
  {% render 'easy_points_account_balance' %}
{%- comment -%} END EASYPOINTS {%- endcomment -%}

{%- comment -%} START EASYPOINTS - DO NOT MODIFY! 変更しないでください! INFO @ https://bit.ly/2Dn7ESM {%- endcomment -%}
{% render 'easy_points_note_form', class_container:'' , class_input: '', class_button: '' %}
{%- comment -%} END EASYPOINTS {%- endcomment -%}

{%- comment -%} START EASYPOINTS - DO NOT MODIFY! 変更しないでください! INFO @ https://bit.ly/2Dn7ESM {%- endcomment -%}
  {% render 'easy_points_register_fields', show_label: '', class_label: '', class_input: '' %}
{%- comment -%} END EASYPOINTS {%- endcomment -%}



{% comment %}
================================================== Cart Item ===================================================
{% endcomment %}

{%- comment -%} START EASYPOINTS - DO NOT MODIFY! 変更しないでください! INFO @ https://bit.ly/2Dn7ESM {%- endcomment -%}
{%- unless shop.metafields.loyalty.easy_points_attributes.value.stealth_mode -%}
  <span class="easy-points__cart-item-points">
    {% render 'easy_points_product_points', item: item %}
  </span>
{%- endunless -%}
{%- comment -%} END EASYPOINTS {%- endcomment -%}




{% comment %}
================================ Cart Point Redeem Button & Total Points Earned =================================
{% endcomment %}


{%- comment -%} START EASYPOINTS - DO NOT MODIFY! 変更しないでください! INFO @ https://bit.ly/2Dn7ESM {%- endcomment -%}
{%- unless shop.metafields.loyalty.easy_points_attributes.value.stealth_mode and customer -%}
  {% render 'redemption_form', hide_points_form: true %}
  {% render 'easy_points_redemption', class_button: '' %}
{%- endunless -%}
{%- comment -%} END EASYPOINTS {%- endcomment -%}


{%- comment -%} START EASYPOINTS - DO NOT MODIFY! 変更しないでください! INFO @ https://bit.ly/2Dn7ESM {%- endcomment -%}
{%- unless shop.metafields.loyalty.easy_points_attributes.value.stealth_mode -%}
  <div class="easy-points__subtotal-points">
    <span class="easy-points__cart-title">
      {{ 'easypoints.points_earned_total' | t }}
    </span>
    <span class="easy-points__cart-points">
      {% render 'easy_points_total_points', price: cart.total_price %}
    </span>
  </div>
  {%- endunless -%}
{%- comment -%} END EASYPOINTS {%- endcomment -%}

<div class="easy-points__subtotal" data-loyal-target="subtotal">
  <span>小計:</span>
  <span
    data-loyal-target="total_price"
    data-loyal-total-price="{{ cart.total_price }}"
  >
    {{ cart.total_price | money_without_trailing_zeros }}
  </span>

  {%- comment -%} START EASYPOINTS - DO NOT MODIFY! 変更しないでください! INFO @ https://bit.ly/2Dn7ESM {%- endcomment -%}
    {%- unless shop.metafields.loyalty.easy_points_attributes.value.stealth_mode -%}
      {{ 'easypoints.points_earned_total' | t }}:
      {% render 'easy_points_total_points', price: cart.total_price %}
    {%- endunless -%}
  {%- comment -%} END EASYPOINTS {%- endcomment -%}
</div>





{% comment %}
================================ Cart Subtotal Currency Display =================================
{% endcomment %}

{%- comment -%} START EASYPOINTS - DO NOT MODIFY! 変更しないでください! INFO @ https://bit.ly/2Dn7ESM {%- endcomment -%}
{%- if request.page_type == 'cart' -%}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
{%- endif -%}
{%- comment -%} END EASYPOINTS {%- endcomment -%}

{%- comment -%} START EASYPOINTS - DO NOT MODIFY! 変更しないでください! INFO @ https://bit.ly/2Dn7ESM {%- endcomment -%}
{%- unless shop.metafields.loyalty.easy_points_attributes.value.stealth_mode -%}
  <script>
    if (EasyPointsData) {
      EasyPointsData.shop.money_format = "{{ shop.money_with_currency_format }}";
    }
  </script>
{%- endunless -%}
{%- comment -%} END EASYPOINTS {%- endcomment -%}
